body   {
  text-align: center;
  background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
}
h1  {
  font-family: "Fredoka One";
  color: darkgrey;
  font-size: 4rem;
}
.container  {
  display: grid;
  background-color: darkgrey;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 10px;
  width: 320px;
  height: 320px;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 5px;
}
.item   {
  background-color: teal;
  border-radius: 5px;
  font-family: "Fredoka One";
  font-size: 5.2em;
}

button  {
  background-color: darkgrey;
  font-family: "Fredoka One";
  font-size: 1.5em;
  margin-top: 3%;
}
